.container_1 {

    height: 120px;
    padding: 14px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
}

.header_logo p {

    font-weight: bolder;
    font-size: larger;
    color: #F9FAF8;

}

.header_links {
    display: flex;
    gap: 15px;
}

.header_links p {
    font-weight: bolder;
    font-size: larger;
    color: #F9FAF8;
}

.container_2 {

    height: 250px;
    padding: 14px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;

}

.awesome_text {

    font-weight: bolder;
    font-size: larger;
    color: #F9FAF8;

}





