.container_1 {

    height: 120px;
    padding: 14px;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
}

.header_logo p {

    font-weight: bolder;
    font-size: larger;
    color: #F9FAF8;

}

.header_links {
    display: flex;
    gap: 15px;
}

.header_links p {
    font-weight: bolder;
    font-size: larger;
    color: #F9FAF8;
}

.container_2 {

    height: 400px;
    padding: 14px;
    background: #1F2937;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.awesome_text h2 {

    font-weight: bolder;
    font-size: 50px;
    color: #F9FAF8;

}

.awesome_text p {

    font-weight: bold;
    font-size: 20px;
    color: #F9FAF8;
}

.button_1 {
    height: 35px;
    width: 100px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
}

img {
    height: 300px;
    width: auto;
}

.container_3 {

    height: 100px;
    padding: 14px;
    background: #F9FAF8;
    text-align: center;

}

.container_4 {

    height: 150px;
    padding: 14px;
    background: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 50px;


}

.box_1,
.box_2,
.box_3,
.box_4 {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

.container_5 {

    height: 5px;
    padding: 14px;
    background: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 75px;

}

.container_6 {

    height: 100px;
    padding: 14px;
    background: #E5E7EB;
    justify-content: center;
    gap: 75px;



}